/target
/data
data
.env
mcp_servers.json
CLAUDE.md
**/node_modules
**/dist
**/build
**/out
**/.next
**/.cache
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test
**/.vscode
**/.idea
**/.DS_Store

TODO.md
